/* Colour Palette
Darkest Blue - #1D3461
Dark Blue - #1F487E
Light Blue - #27A9F9
Grey - #414650
White Smoke - #F4F5F7
White - #FFFFFF */

/* FONTS 

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

/*************** Global Styles *****************/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    color: #27A9F9;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    
}

h2 {
    font-size: 1em;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}

button {
    border: 2px solid #27A9F9;
    transition-duration: 0.4s;

}

button:hover {
    color: #FFFFFF;
    background: #27A9F9;
}


/*************** Header/Footer Styles *****************/

header {
    background: #414650;
    color: #FFFFFF;
    text-align: right;
}

header .container {
    padding-top: 0;
    padding-bottom: 0;
}

header ul {
    margin-top: 0;
    margin-bottom: 0;
}
header li {
    display: inline-block;
    padding: 1.5%;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}


/*************** About Me Section Styles *****************/

#about_me {
    background: #FFFFFF;
}

#about_me p {
    margin-top: 1%;
    margin-bottom: 1%;
}

#about_me button {
    width: 100%;
    
}

#about_me a {
    color: #27A9F9;
    text-decoration: none;
}



/*************** Skills Profile Section Styles *****************/

#skills_profile {
    background: #F4F5F7;
}

#skills_profile p {
    font-size: 0.75em;
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 0;
}

#skills_profile ul {
    margin-top: 0;
    margin-bottom: 0.5%;
}

#skills_profile li div {
    font-size: 0.75em;
}


/*************** Projects Section Styles *****************/

#projects {
    background: #FFFFFF;
}

#projects ul {
    margin-top: 0;
    margin-bottom: 0;
}

.short_project_description {
    font-size: 0.75em;
}


/*************** Contact Information Section Styles *****************/

#contact_info {
    background: #F4F5F7;
}

#contact_info h2 {
    font-size: 1em;
    font-weight: 400;
}