/* Colour Palette
Darkest Blue - #1D3461
Dark Blue - #1F487E
Light Blue - #27A9F9
Grey - #414650
White Smoke - #F4F5F7
White - #FFFFFF */

/* FONTS 

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

/*************** Global Styles *****************/

html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
}

h1 {
    color: #27A9F9;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 2em;
}

h2 {
    font-size: 1em;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.container {
    width: 80%;
    margin: 0 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

button {
    border: 2px solid #27A9F9;
    transition-duration: 0.4s;
    padding: 1%;
    text-transform: uppercase;
}

button:hover {
    color: #FFFFFF;
    background: #27A9F9;
}

a {
    text-decoration: none;
}


/*************** Header/Footer Styles *****************/

header .container {
    width: 100%;
    background: #414650;
    padding: 0 10%;
    position: fixed;
    text-align: right;
    margin: 0;
}

header ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

header li {
    display: inline-block;
    padding: 1.5%;
}

header a {
    color: #FFFFFF;
}

header a:hover {
    color: #27A9F9;
}


/*************** landing Section Styles *****************/

#landing  {
    background: url(../img/banner.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}


/*************** About Me Section Styles *****************/

#about_me {
    background: #FFFFFF;
}

#about_me h1 {
    margin-bottom: 2%
}

.profile_grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 5%;
}

.profile_grid img {
    width: 100%;
}

.profile_grid .info{
    align-self: center;
}

#about_me p {
    margin-bottom: 5%;
    line-height: 2;
}

#about_me a {
    text-decoration: none;
    color: #27A9F9;
}

#about_me button {
    width: 100%;
    font-size: 110%;
    padding: 3%;
}


/*************** Skills Profile Section Styles *****************/

#skills_profile {
    background: #F4F5F7;
}

#skills_profile h2 {
    font-size: 120%;
    font-weight: 400;
}

#skills_profile p {
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

#skills_profile ul {
    margin-top: 1%;
    margin-bottom: 0.5%;
    list-style: none;
    padding: 0;
}

#skills_profile ul .nested_list {
    padding: 0 0 0 4%;
}

#skills_profile ul .nested_list_2 li {
    padding: 1% 4%;
    display: inline-block;
}


.skill_bar {
    width: 100%;
    height: 18px;
    background: lightblue;
    margin-bottom: 2%;
}

.level {
    
}


/*************** Projects Section Styles *****************/

#projects {
    background: #FFFFFF;
}

.left_col, .mid_col, .right_col {
    background: #F4F5F7;
    border: 2px solid #27A9F9;
    overflow:hidden;
}

.grid {
    display: grid;
    margin: 2% 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5%;
}

#projects ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.short_desc {
    font-size: 0.75em;
}

.project {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding: 3%;
}

#projects img {
    width: 100%;
}

#projects a {
    text-align: right;
}

#projects button {
    padding: 10%;
}



/*************** Contact Information Section Styles *****************/

#contact_info {
    background: #F4F5F7;
}

#contact_info h1 {
   margin-bottom: 2%; 
}

#contact_info h2 {
    display: inline-block;
    font-size: 150%;
    font-weight: 400;
    text-align: center;
    padding: 2%; 
    margin: 0;
    width: 33%
}

#contact_info a {
    color: black;
}

#contact_info a:hover {
    color: #27A9F9;
}


/*************** Media Queries Styles *****************/

@media (max-width: 1153px) {
    
    /* contact information section */
    #contact_info h2 {
        display: block;
        font-size: 150%;
        font-weight: 400;
        text-align: center;
        padding: 2%; 
        margin: 0;
        width: 100%
    }
    
    #about_me button {
        margin-bottom: 5%;
    }
}

@media (max-width: 768px) {
    
    /* Navigation bar */
    header .container {
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    
    /* About me section */
    .profile_grid {
        display: block;
    }   
    
    
    /* Skills section */
    
    
    /* projects section */
    .grid {
        display: block;
    }
    
    .left_col, .mid_col, .right_col {
        margin-bottom: 5%;
    }
}

@media (max-width: 465px){
    
    /* Navigation bar */
    header a {
        font-size: 75%;
    }
}