/* Colour Palette
Darkest Blue - #1D3461
Dark Blue - #1F487E
Light Blue - #27A9F9
Grey - #414650
White Smoke - #F4F5F7
White - #FFFFFF */

/* FONTS 

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

/*************** Global Styles *****************/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    color: #27A9F9;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    
}

h2 {
    font-size: 1em;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.container {
    width: 80%;
    margin: 0 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

button {
    border: 2px solid #27A9F9;
    transition-duration: 0.4s;
    padding: 1%;
    text-transform: uppercase;
}

button:hover {
    color: #FFFFFF;
    background: #27A9F9;
}


/*************** Header/Footer Styles *****************/

header {
    background: #414650;
    color: #FFFFFF;
    text-align: right;
}

header .container {
    padding-top: 0;
    padding-bottom: 0;
}

header ul {
    margin-top: 0;
    margin-bottom: 0;
}
header li {
    display: inline-block;
    padding: 1.5%;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

header a:hover {
    color: #27A9F9;
}


/*************** About Me Section Styles *****************/

#about_me {
    background: #FFFFFF;
}

#about_me p {
    margin-top: 1%;
    margin-bottom: 1%;
}

#about_me a {
    text-decoration: none;
    color: #27A9F9;
}

#about_me button {
    width: 100%;
    font-size: 110%;
}


/*************** Skills Profile Section Styles *****************/

#skills_profile {
    background: #F4F5F7;
}

#skills_profile p {
    font-size: 0.75em;
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 0;
}

#skills_profile ul {
    margin-top: 0;
    margin-bottom: 0.5%;
}

#skills_profile li div {
    font-size: 0.75em;
}


/*************** Projects Section Styles *****************/

#projects {
    background: #FFFFFF;
}

.left_col, .mid_col, .right_col {
    display: inline-block;
    padding: 15% 8% 1% 1%;
    width: 25%;
    margin: 2% 4% 0 4%;
    background: #F4F5F7;
    border: 2px solid #27A9F9;
}

#projects ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.title_desc {
    display: inline-block;
    float: left;
    padding: 0 0 2% 2%;
}

.short_desc {
    font-size: 0.75em;
}

#projects button {
    display: inline-block;
    padding: 5%;
    position: relative;
    left: 50%;
}



/*************** Contact Information Section Styles *****************/

#contact_info {
    background: #F4F5F7;
}

#contact_info h2 {
    font-size: 1em;
    font-weight: 400;
}