/* Colour Palette
Darkest Blue - #1D3461
Dark Blue - #1F487E
Light Blue - #27A9F9
Grey - #414650
White Smoke - #F4F5F7
White - #FFFFFF */

/* FONTS 

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

/*************** Global Styles *****************/

html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 2em;
}

h2 {
    font-size: 1em;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.container {
    width: 80%;
    margin: 0 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

button {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    transition-duration: 0.4s;
    padding: 1%;
    text-transform: uppercase;
}

button:hover {
    color: #FFFFFF;
    background: #27A9F9;
}

a {
    text-decoration: none;
}

/* Shadows */

.shadow {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
} 

.shadow:hover {
    -webkit-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.2);
}

/*************** landing Section Styles *****************/

#landing  {
    background: url(koiCropped.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.LandingInfoCard {
    position: absolute;
    margin: 0 5%;
    padding: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40vw;
    color: white;
}

.LandingInfoCard h1 {
    Font-size: calc(65px + 1.75vw);
    color: white;
    text-align: left;
    margin: 0;
    padding: 0;
}

.LandingInfoCard h4 {
    Font-size: calc(20px + 1.25vw);
    margin: 0;
    padding: 0;
}

.LandingInfoCard p {
    font-size: calc(12px + 0.75vw);
    margin: 0;
    padding: 10px 0 0 0;
}

.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 30px;
  height: 60px;
  margin-left: -20px;
  top: 85%;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before{
  content: '';
  width: 5px;
  height: 5px;
  background: #fff;
  margin-left: -3px;
  top: 5px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll{
    0%{
        opacity: 1;
    }
    100%{
    opacity: 0;
    transform: translateY(35px);
    }
}

/*************** Projects Section Styles *****************/

#projects {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(156,212,227,1) 100%);
}

.grid {
    display: grid;
    margin: 2% 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 3%;
}

.grid_item {
    background: #F4F5F7;
    border-radius: 10px;
    border: 1px solid #dfe1e5;
    overflow: hidden;
}

#projects ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#projects h1 {
    font-size: calc(30px + 1.25vw);
}

.short_desc {
    font-size: 0.75em;
}

.project {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding: 3%;
}

#projects img {
    width: 100%;
}

#projects a {
    text-align: right;
}

#projects button {
    padding: 10%;
}


/*************** Contact Information Section Styles *****************/

#contact_info {
    background: #FFFFFF;
}

#contact_info h1 {
    color: black;
    font-size: calc(25px + 1.25vw);
    margin-bottom: 2%; 
}

#contact_info h2 {
    font-size: calc(10px + 0.75vw);
    font-weight: 400;
}

#contact_info .flex_container{
    display: flex;
    align-items: center;
}

#contact_info .flex_item {
    flex: 1 1 0;
    justify-content: center;
    margin: auto;
    text-align: center;
}

#contact_info a {
    color: black;
}

#contact_info a:hover {
    color: #27A9F9;
}


/*************** Media Queries Styles *****************/

@media (max-width: 992px) {

    /* Landing */
    .LandingInfoCard {
        width: 50vw;
    }

    /* projects section */
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .grid_item {
        margin-bottom: 5%;
    }
}

@media (max-width: 768px) {
    
    /* Landing */
    .LandingInfoCard {
        margin: 0 5%;
        width: 60vw;
    }

    /* contact information section */
    #contact_info .flex_container {
        flex-direction: column;
        height: auto;
    }

    #contact_info .flex_item {
        font-size: calc(15px + 1.25vw);
        padding: 7px;
    }

    .icon-scroll {
        display: none;
    }

     .grid_item {
        margin-bottom: 5%;
    }
}

@media (max-width: 576px) {
    
    /* Landing */
    #landing {
        background: url(koiMobile.png);
        -webkit-background-size: 100vw 101vh;
        -moz-background-size: 100vw 101vh;
        -o-background-size: 100vw 101vh;
        background-size: 100vw 101vh;
    }

    .LandingInfoCard {
        top: auto;
        -ms-transform: none;
        transform: none;
        bottom: 40px;
        margin: 0 5%;
        width: 90vw;
    }

    .icon-scroll {
        display: none;
    }

    /* projects */
    .grid {
        display: block;
    }

}



