.Project {
    width: 100%;
}

.Project.flex-container {
    display: flex;
    align-items: center;
}

.Project-Info {
    flex: 1 1 0;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.Project-Details {
    flex: 2 1 0;
    margin: auto;
}

.Project a {
    color: black;
    text-decoration: none;
}

.fab {
    margin: 0 0 0 5px;
}

.Project h3 {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-size: calc(20px + 1.25vw);
    margin: 0;
    padding: 0;
}

@media (max-width: 576px) {

    .Project.flex-container {
        flex-direction: column;
        height: auto;
    }

}
