.Projects {
    width: 100vw;
}

.ProjectSectionContainer {
    height: 100%;
    width: 80%;
    margin: 0 10%;
}

.Divider {
    margin: 4px 0;
    width: 100%;
    height: 1px;
    background-color: black;
}

@media (max-width: 576px) {

    .ProjectSectionContainer {
        margin: 0 5%;
        width: 90%;
    }

}
