.LandingInfoCard {
    position: absolute;
    margin: 0 5%;
    padding: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40vw;
    color: white;
}

.LandingInfoCard h1 {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-size: calc(65px + 1.75vw);
    margin: 0;
    padding: 0;
}

.LandingInfoCard h4 {
    Font-size: calc(20px + 1.25vw);
    margin: 0;
    padding: 0;
}

.LandingInfoCard p {
    font-size: calc(12px + 0.75vw);
    margin: 0;
    padding: 10px 0 0 0;
}


@media (max-width: 992px) {

    .LandingInfoCard {
        width: 50vw;
    }

}

@media (max-width: 768px) {

    .LandingInfoCard {
        margin: 0 5%;
        width: 60vw;
    }

}

@media (max-width: 576px) {

    .LandingInfoCard {
        top: auto;
        -ms-transform: none;
        transform: none;
        bottom: 40px;
        margin: 0 5%;
        width: 90vw;
    }

}
